{% extends 'base.html' %}


{% block content %}

{% if searched %}
<h1>you searched for {{ searched }}</h1>

{% for doctor in doctors %}
      <center>
          

     <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{doctor}}</h5>
          <h6 class="card-text">{{doctor.speciality}}</h6> 
            Age: {{doctor.age}} <br>
            Mobile No: {{doctor.mobNum}} <br>
            City: {{doctor.city}} <br>
            {% if doctor.availability %}
                Availability: Yes <br> <br>
            {% else %}
                <p class="card-text">Availability: No</p> <br>
            {% endif %}

          <a href="#" class="btn btn-primary">Make an Appointment</a>
        </div>
      </div>
      <br>
{% endfor %}
</center>
{% else %}
<h1>you forgot to search  </h1>

{% endif %}
    

{% endblock %}